* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    padding-top: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
h1, span {
    text-align: center;
}
#control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
}
button {
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
button:hover {
    transform: scale(1.1);
}
button:active {
    transform: scale(0.8);
}
#boxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
}
#boxOne, #boxTwo, #boxThree, #boxFour, #boxFive, #boxSix {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}